.container {
    max-width: 500px;
    margin: 50px auto;
    padding: auto;
}

.container__issue {
    font-size: xx-small;
}

.container__result {
    background-color: rgba(137, 43, 226, 0.800);
    border: 1px solid #060606;
    border-radius: 10px;
    text-align: center;
}

.container__total {
    font-size: x-large;
}

