html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit
};

.body {
    font-family: "Playfair Display";
}

.body__element {
    background-image: url("../images/cash.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
}